<!--
@Author: lisnb
@Date:   2016-07-27T20:11:02+08:00
@Email:  lisnb.h@hotmail.com
@Last modified by:   lisnb
@Last modified time: 2016-07-27T20:35:50+08:00
-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form  action="http://localhost:12580/comment/post/" method="post" enctype="multipart/form-data">
      <input type="text" name="item_id" value="">
      <input type="file" name="photo1" value="">
      <input type="file" name="photo2" value="">
      <input type="submit" name="post" value="">
    </form>
  </body>
</html>
